select {
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  order: 2;
  background-color: white;
  color: black;
  border: none;
}

input[type="text"] {
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
  font-size: 16px;
  order: 1;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
}

.filter-label {
  font-size: 18px;
  margin-right: 10px;
}

.region-filter {
  padding: 20px;
  margin: 10px;
  font-size: 16px;
  order: 3;
  font-size: 24px;

}

.dark-mode {
  background-color: #2b3844;
  color: #ffffff; 
}

.dark-mode #searchbar {
  background-color: #2b3844; 
  color: #ffffff; 
}

.dark-mode #dropdown {
  background-color: #2b3844; 
  color: #ffffff;
}

